.location-cell {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-disabled {
    margin-left: 10px;
}

.btn:focus{
    outline: none;
    border: none;
}

.btn-warning:focus{
    outline: none;
    border: none;
    border-color: #f0ad4e;
    background-color: #f0ad4e;
    color: white;
}

.btn-success:focus {
    outline: none;
    border: none;
    border-color: #5cb85c;
    background-color: #5cb85c;
    color: white;
}

.btn-danger:focus {
    outline: none;
    border: none;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-primary:focus {
    outline: none;
    border: none;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #337ab773;
    border-color: #337ab773;
}